.container {
  width: 100%;
  max-width: 64rem;
  margin: 2.5rem auto 0;
  padding: 0 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
}

.main h1 {
  margin-bottom: 0.875rem;
}

.task {
  border: 1.5px solid #909090;
  padding: 0.875rem;
  line-height: 150%;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task p {
  white-space: pre-wrap;
  width: 100%;
}

.commentsContainer {
  width: 100%;
  max-width: 64rem;
  margin: 1.125rem 0;
}

.commentsContainer h2 {
  margin: 0.875rem 0;
}

.button {
  font-size: 1.125rem;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 0;
  color: #fff;
  background-color: #3183ff;
  transition: ease-in-out 0.3s;
}

.button:hover {
  background-color: #1b417a;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
  background-color: rgba(49, 131, 255, 0.604);
}