.container {
  background-color: #0f0f0f;
  width: 100%;
  height: calc(100vh - 4.75rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  max-width: 480px;
  object-fit: contain;
  width: auto;
  height: auto;
}

.title {
  color: #fff;
  text-align: center;
  margin: 1.75rem;
  line-height: 150%;
}

.infoContent {
  width: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  background-color: #fafafa;
  padding: 0.875rem 2.75rem;
  border-radius: 0.25rem;
  transition: transform .5s;
}

.box:hover {
  transform: scale(1.08);
  cursor: default;
}

@media screen and (max-width: 580px) {
  .hero {
    max-width: 80%;
  }

  .title {
    font-size: 1.5rem;
  }

  .infoContent {
    flex-direction: column;
  }

  .box {
    width: 80%;
    margin-bottom: 0.875rem;
    text-align: center;
  }
}